<nav class="bg-blue-600 text-white p-4 shadow-lg">
  <div class="container mx-auto flex justify-between items-center">
    <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTXn3qS27xZKlpQDyTpyn8CZJ51rxFUGNaaQA&s" alt="Strucktural">
    <a class="text-2xl font-bold" routerLink="/home">Strucktural Sk8</a>
    <ul class="flex flex-col font-medium mt-4 rounded-lg bg-gray-50 md:space-x-8 rtl:space-x-reverse md:flex-row md:mt-0 md:border-0 md:bg-transparent dark:bg-gray-800 md:dark:bg-transparent dark:border-gray-700">
      <li><a class="block py-2 px-3 md:p-0 text-gray-900 rounded-sm hover:bg-gray-100 md:hover:bg-transparent md:border-0 md:hover:text-blue-700 dark:text-white md:dark:hover:text-blue-500 dark:hover:bg-gray-700 dark:hover:text-white md:dark:hover:bg-transparent" href="home">Home</a></li>
      <li><a href="docente" class="block py-2 px-3 md:p-0 text-gray-900 rounded-sm hover:bg-gray-100 md:hover:bg-transparent md:border-0 md:hover:text-blue-700 dark:text-white md:dark:hover:text-blue-500 dark:hover:bg-gray-700 dark:hover:text-white md:dark:hover:bg-transparent" routerLink="/docente">Docente</a></li>
      <li><a href="estudiante" class="block py-2 px-3 md:p-0 text-gray-900 rounded-sm hover:bg-gray-100 md:hover:bg-transparent md:border-0 md:hover:text-blue-700 dark:text-white md:dark:hover:text-blue-500 dark:hover:bg-gray-700 dark:hover:text-white md:dark:hover:bg-transparent" routerLink="/estudiante">Estudiante</a></li>
      <li><a href="nosotros" class="block py-2 px-3 md:p-0 text-gray-900 rounded-sm hover:bg-gray-100 md:hover:bg-transparent md:border-0 md:hover:text-blue-700 dark:text-white md:dark:hover:text-blue-500 dark:hover:bg-gray-700 dark:hover:text-white md:dark:hover:bg-transparent" routerLink="/nosotros">Nosotros</a></li>
    </ul>
    <a href="login" class="bg-white text-blue-600 px-4 py-2 rounded-lg hover:bg-gray-200 transition" routerLink="/login">Login</a>
  </div>
</nav>
